<section id="about" class="container mt-2">
    <div class="row w-100 p-3">
        <div class="col-md-12">
            <h2 class="">About</h2>
            <p>
                I am a passionate software developer and Electrical Engineering student with a strong foundation in math
                and science. I hold a technician degree in Electronics from CEFET/RJ, one of Brazil's most prestigious
                technology education institutes. My expertise spans web development, RPA, and data analysis algorithms.
                I am constantly exploring and mastering new technologies to stay ahead in the ever-evolving tech
                landscape.

            </p>

        </div>
        <div class="row">

            <div class="col-md-3">
                <img class="img-fluid" src="../static/img/about-photo.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h3>Profile</h3>
                <div class="row">

                    <div class="col-md-6">

                        {{ listDados([
                        listItemDados("Birthdate", "26/04/2002", "calendar"),
                        listItemDados("City", "São Paulo", "geo-alt"),
                        listItemDados("State", "São Paulo (Brasil)", "geo-alt"),
                        ])
                        }}
                    </div>
                    <div class="col-md-6">
                        {{ listDados([
                        listItemDados("Degree", "Electronics Technician", "award"),
                        listItemDados("Course", "Electrical Engineering", "bullseye"),
                        listItemDados("Experience", "2+ years", "graph-up-arrow"),
                        ])
                        }}
                    </div>
                </div>
            </div>

        </div>
</section>