<section id="cv" class>
    <div class="container pb-2 p-3">
        <h2><strong>Experience</strong></h2>
        {% call cvItem("itech.jpg", "Back-end Developer", "ITech",
        "aug 2024 - sep 2024", false) %}
        <ul>
            <li><strong>Developed</strong> robust scalable microservices and
                BFFs in FastAPI within a hexagonal architecture, using the best
                practices in development and testing. This resulted in a more
                agile and reliable, yet flexible and extensible application,
                capable of supporting continuous growth.</li>
        </ul>

        {% endcall %}
        {% call cvItem("xpertfy.jpg", "Software Developer", "Xperfy",
        "May 2022 - July 2023", true) %}
        <ul>
            <li><strong>Developed</strong> scalable text processing APIs using
                Flask and FastAPI, integrating NLP algorithms to enhance data
                processing capabilities.</li>
            <li><strong>Achieved</strong> a 50% reduction in API response times
                by redesigning the database architecture and migrating to a more
                efficient backend framework (FastAPI).</li>
            <li><strong>Created</strong> a performance dashboard that
                facilitated data-driven decision-making and optimized
                operational workflows.</li>
            <li><strong>Implemented</strong> RPA algorithms for efficient data
                extraction, benefiting both internal processes and external
                partnerships.</li>
            <li><strong>Onboarded</strong> new web developers, providing
                training and support in JavaScript frameworks (Next.js, Vue.js,
                Nest.js), enhancing team productivity and cohesion.</li>
        </ul>
        {% endcall %}
        {% call cvItem("arm.jpg", "Software Developer", "ARM",
        "june 2021 - sep 2021", false) %}

        <ul>
            <li><strong>Developed</strong> OCR algorithms and PDF analysis tools
                to automate the extraction of unstructured data for compliance
                purposes.</li>
            <li><strong>Coordinated</strong> the development and launch of ARM’s
                first cloud service for automated contract generation,
                significantly improving document handling efficiency.</li>
        </ul>

        {% endcall %}

        {% call cvItem("cefet.jpg", "Electronics Research Intern", "CEFET/RJ",
        "mar 2021 - sep 2021", true) %}
        <ul>
            <li><strong>Conducted</strong> research on machine learning
                algorithms to improve predictive maintenance in industrial
                settings.</li>
            <li><strong>Developed</strong> a prototype system for real-time
                monitoring and anomaly detection in manufacturing
                processes.</li>
        </ul>

        {% endcall %}
        {% call cvItem("cbpf.jpg", "Electronics Lab Intern", "CBPF",
        "mar 2019 - jun 2019", false) %}
        <ul>
            <li><strong>Assisted</strong> in the development of data analysis
                tools for high-energy physics experiments.</li>
            <li><strong>Collaborated</strong> with researchers to analyze
                experimental data and generate reports on findings.</li>
        </ul>

        {% endcall %}

    </section>