<section id="cv" class="">
    <div class="container pb-2 p-3">
        <h2><strong>Experience</strong></h2>
        {% call cvItem("xpertfy.jpg", "Software Developer", "Xperfy", "may 2022 - july 2023", true) %}
        • <strong>Developed</strong> scalable text processing APIs using Flask and FastAPI, integrating NLP algorithms
        to enhance data processing capabilities.
        <br>
        • <strong>Achieved</strong> a 50% reduction in API response times by redesigning the database architecture and
        migrating to a more efficient backend framework (FastAPI).
        <br>
        • <strong>Created</strong> a performance dashboard that facilitated data-driven decision-making and optimized
        operational workflows.
        <br>
        • <strong>Implemented</strong> RPA algorithms for efficient data extraction, benefiting both internal processes
        and external partnerships.
        <br>
        • <strong>Onboarded</strong> new web developers, providing training and support in JavaScript frameworks
        (Next.js, Vue.js, Nest.js), enhancing team productivity and cohesion.


        {% endcall %}
        {% call cvItem("arm.jpg", "Software Developer", "ARM", "june 2021 - sep 2021", false) %}

        • <strong>Developed</strong> OCR algorithms and PDF analysis tools to automate the extraction of unstructured
        data for compliance purposes.
        <br>
        • <strong>Coordinated</strong> the development and launch of ARM’s first cloud service for automated contract
        generation, significantly improving document handling efficiency.


        {% endcall %}

        {% call cvItem("cefet.jpg", "Electronics Research Intern", "CEFET/RJ", "mar 2021 - sep 2021", true) %}
        • <strong>Created</strong> scripts and conducted numerical simulations of semiconductors using TCAD software and
        Python.
        <br>
        • <strong>Generated</strong> data visualizations and metrics to validate two innovative SOI MOSFET geometries,
        identifying a bias-invariant point in the 300-550K range, contributing to advancements in semiconductor
        technology.

        {% endcall %}
        {% call cvItem("cbpf.jpg", "Electronics Lab Intern", "CBPF", "mar 2019 - jun 2019", false) %}
        • <strong>Maintained</strong> and updated a spark chamber for continuous cosmic ray monitoring, utilizing
        Raspberry Pi and Pi Cam.
        <br>
        • <strong>Developed</strong> data analysis algorithms in Python and implemented visualization tools, improving
        the accuracy and reliability of cosmic ray data collection.

        {% endcall %}



</section>