<section id="extracurricular" class="section-bg">
    <div class="container pb-2 p-3">
        <h2><strong>Extracurriculars</strong></h2>
        {% call extra("tdf.jpeg", "Co-Founder, Mediator, Evaluator", "Federal Debate Tournament", "2020")
        %}
        Co-founded and organized an online debate tournament for Federal Institute students, focusing on contemporary
        political and social issues. Engaged 96 participants from 10 Brazilian states.
        {% endcall %}

        {% call extra("aeb.jpeg", "Hackathon Covid-19", "Hackathon Covid-19", "2020", false) %}
        Developed low-cost IoT devices to monitor vital signs of crew members and predict the spread of Covid-19 in
        ships during a national hackathon.
        {% endcall %}

        {% call extra("cefet.jpg", "Paid Tutor for Systems of Telecommunications I", "Electronics Technical
        Course Department, CEFET-RJ", "Jun 2019 - Nov 2019") %}
        Sole tutor selected from ~40 students. Assisted peers and supported teachers in lab sessions, facilitating a
        better understanding of telecommunications systems and hands-on application of theoretical concepts.
        {% endcall %}

        {% call extra("elos.jpg", "Volunteer Math Tutor", "ELOS (Non-Profit Education Organization)", "Mar
        2019 - Jun 2019", false) %}
        Tutored 30 students from socially vulnerable backgrounds for their high school selection process. Provided
        homework assistance and answered questions, leading to a 100% admission rate.
        {% endcall %}

        {% call extra("cefet.jpg", "Optimization Techniques with Excel Course", "CEFET-RJ", "2019") %}
        Invited by my math teacher to participate in an undergraduate-level course for engineers and mathematicians due
        to my excellent performance in the subject. Learned advanced optimization techniques using Excel.
        {% endcall %}
        {% call extra("bl4s.jpg", "Team Leader; Competitor", "Beamline for Schools (BL4S)", "May 2018 - Mar 2019",
        false) %}
        Led a team of 8 members to write an experimental proposal for the DESY particle accelerator. Attended
        university-level classes and conducted research with a PhD professor, enhancing my understanding of particle
        physics and experimental design.
        {% endcall %}

        {% call extra("cefet.jpg", "Paid Math Tutor", "High School Mathematics Department, CEFET-RJ", "Feb 2018 -
        Nov 2018") %}
        Selected as 1 of 4 tutors out of ~2000 students. Provided over 50 classes and assisted approximately 1300
        students with questions and exercises, improving their mathematical skills and academic performance.
        {% endcall %}


        {% call extra("impa.jpg", "Mathematics Scientific Initiation Student", "PIC Jr. OBMEP; CEFET-RJ; IMPA", "May
        2017 - Nov 2017", false) %}
        Participated in an advanced math program for selected students. Gained exposure to mathematics research,
        important theorems, famous problems, and mathematical proofs, fostering a deep interest and proficiency in
        advanced mathematical concepts.
        {% endcall %}

        {% call extra("mun.webp", "Delegate & Director", "Model United Nations (MUNs)", "Aug 2017 - Aug 2019") %}
        Participated in 6 MUN conferences as a delegate (representing Egypt, USA, China, IMF, Charles R. Jonas, Henry J.
        Raymond) and served as a director once. Developed public speaking skills in both English and Portuguese.
        {% endcall %}

        



    </div>
</section>