<section id="home" class="row m-0 p-0">
    <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Victor Ferrer</h2>
        <span id="subtitle" class="text-white text-shadow">Web Developer | Electronics Technician</span>
    </div>
    <div class="col-md-5 d-flex justify-content-end align-items-end">
        <div id="scroll" class="d-flex align-items-center">

            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="">Scroll for more!</a>
        </div>
    </div>
</section>