{% from "macros.html" import navbar, listItemDados, listDados, progress, cvItem, navItem, extra, medal, award with context%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Victor Ferrer</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile-img.jpg" alt="João Victor Ferrer Morgado">
            <h1>Victor Ferrer</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/joaovictorferrer/?locale=en_US" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>

        </section>
        {% call navbar() %}
            {{ navItem("Home", "#home", "house", "active") }}
            {{ navItem("About", "#about", "person") }}
            {{ navItem("Skills", "#skills", "list-check") }}
            {{ navItem("Experience", "#cv", "collection") }}
            {{ navItem("Extracurricular", "#extracurricular", "person-up") }}
            {{ navItem("Awards", "#award", "award") }}
            {{ navItem("Contact", "#contact", "envelope") }}
        {% endcall %}
    </aside>
    <main id="main">
        {% include 'home.html' %}
        {% include 'about.html' %}
        {% include 'skills.html' %}
        {% include 'cv.html' %}
        {% include 'extracurricular.html' %}
        {% include 'award.html' %}
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>