{% macro  navItem(text, href, icon, class) %}
<li class="nav-item"><a class="nav-link {{ class }}" href="{{ href }}" aria-current="page"><i class="bi bi-{{ icon }}"></i> {{ text }}</a></li>
{% endmacro %}

{% macro navbar() %}
<nav class="navbar nav-menu">
    <ul class="nav flex-column">
        {{ navItem("Home", "#home", "house", "active") }}
        {{ navItem("About", "#about", "person") }}
        {{ navItem("Skills", "#skills", "list-check") }}
        {{ navItem("Curriculum", "#cv", "collection") }}
        {{ navItem("Contact", "#contact", "envelope") }}
    </ul>
</nav>
{% endmacro %}

{% macro listItemDados(title, text, icon) %}
<li class="list-group-item">
    <i class="bi bi-{{icon}}"></i> {{ title }}: <span class="fw-lighter">{{ text }}</span>
</li>
{% endmacro%}

{% macro listDados(listItems) %}
<ul class="list-group list-group-flush fs-10 mt-3 mb-3">
    {{ listItems | join('')}}
</ul>
{% endmacro %}

{% macro progress(title, value) %}
<p class="mt-3 mb-0">{{ title }}</p>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ value }}%" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
</div>
{% endmacro %}