<section id="skills" class="mt-5 section-bg">
    <div class="container pb-2 p-3">
        <h2>Skills</h2>
        <p>
            I have experience with web development, mainly with the Flask framework. I have
            knowledge in Python, JavaScript, HTML, CSS, SQL, and C. I have experience with Linux
            and Docker, and I am always looking to learn new technologies.
        </p>
        <div class="row p-3">
            <div class="col-md-6">
                {{ progress("Python", 90) }}
                {{ progress("JavaScript", 70) }}
                {{ progress("C", 70) }}
                {{ progress("HTML", 90) }}
                {{ progress("CSS", 70) }}
                {{ progress("SQL", 80) }}

            </div>
            <div class="col-md-6">
                {{ progress("Networks", 90) }}
                {{ progress("Flask", 90) }}
                {{ progress("Django", 80) }}
                {{ progress("Linux", 80) }}
                {{ progress("Docker", 70) }}
                {{ progress("Git", 70) }}

            </div>
        </div>
    </div>
</section>