<section id="skills" class="mt-5 section-bg">
    <div class="container pb-2 p-3">
        <h2>Skills</h2>
        <p>
            I have experience with web development, mainly with the Flask and
            FastAPI Python
            frameworks. I have experience with Linux as it is my main setup for
            development.
            Mainly, I am always looking for learning new technologies.
        </p>
        <div class="row p-3">
            <div class="col-md-6">
                {{ progress("Python", 90) }}
                {{ progress("JavaScript", 70) }}
                {{ progress("C", 60) }}
                {{ progress("HTML", 90) }}
                {{ progress("CSS", 60) }}
                {{ progress("SQL", 80) }}
                {{ progress("React", 35) }}

            </div>
            <div class="col-md-6">
                {{ progress("Networks", 90) }}
                {{ progress("Flask", 90) }}
                {{ progress("Django", 70) }}
                {{ progress("FastAPI", 90) }}
                {{ progress("Linux", 80) }}
                {{ progress("Docker", 70) }}
                {{ progress("Git", 70) }}

            </div>
        </div>
    </div>
</section>